<!DOCTYPE html>
<html>
  <head>
    <title>grid</title>
    <link href="color grid.css" rel="stylesheet" type="text/css">
  </head>

  <body>
     <div class="container">
   	<div class="item1"></div>
   	<div class="item2">one</div>
   	<div class="item3">one</div>
   	<div class="item4">one</div>
   	<div class="item5"></div>
   	<div class="item6"></div>
   	<div class="item7"></div>
  	<div class="item8"></div>
   	<div class="item9"></div>
   	<div class="item10"></div>
   	<div class="item11"></div>
   	<div class="item12"></div>
     </div>
     <style>
	.container {
  	   display: grid;
	   height: 100vh;
  	   grid-template-columns: repeat(4, 1fr);
 	   grid-template-rows: repeat(4, 1fr);
  	   grid-template-areas:
  	   "one one one one"
  	   "five six seven eight"
 	   "nine nine ten ten"
  	   "eleven eleven eleven twelve"
	}
.item-1{
  background-color: #F5C6D6
  grid-area: one;
}
.item-2 {
  background-color: #EE2E84
  grid-area: five;
}
.item-3 {
  background-color: #EE2E84
  grid-area: six;
}
.item-4 {
  background-color: #EE2E84
  grid-area: seven;
}
.item-5 {
  background-color: #EE2E84
  grid-area: eight;
}
.item-6 {
  background-color: #84CFD8
  grid-area: nine;
}
.item-7 {
  background-color: #84CFD8
  grid-area: ten;
}
.item-8 {
   background-color: #8DC63F
   grid-area: eleven;
}
.item-9 {
  background-color: #E76E34
  grid-area: twelve;

  </style>
  </body>
</html>container {
  display: grid;
  height: 100ih;
  width: 1024px;

  grid-gap: 15px
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-template-areas:
  "one one one one"
  "five six seven eight"
  "nine nine ten ten"
  "eleven eleven eleven twelve"
}

.item1 {
  background-color: #F5C6D6
  grid-area: one

}

.item2 {
  background-color: #EE2E84
  grid-area: five

}
.item3 {
  background-color: #EE2E84
  grid-area: six

}
.item4 {
  background-color: #EE2E84
  grid-area: seven

}
.item-5 {
  background-color: #EE2E84
  grid-area: eight

}
.item-6 {
  background-color: #84CFD8
  grid-area: nine

}
.item-7 {
  background-color: #84CFD8
  grid-area: ten

}
.item8 {
   background-color: #8DC63F
   grid-area: eleven

}
.item9 {
  background-color: #E76E34
  grid-area: twelve